/* LANDING PAGE FONTS / TEXTS */
h4.landing {
  font-size: 1.3rem;
  color: #fdc28e;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;}

a h2.landing {
  font-size: 4rem;
  color: #100113;
  font-family: 'Modak', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  transition: all 1s;}

a h2.landing:hover {
    color: #a6c8eb;
    }

.title {
  position:relative;
  bottom:-10px;
}

/* LANDING PAGE GIF & TEXT CLASSES */
.container {
  position: relative;
  max-width: 100%; /* Maximum width */
  min-height: 80vh;
  margin: 0 auto; /* Center it */
}

.content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color:#100113;
  width: 100%; /* Full width */
}

/* ABOUT US / SERVICES LIST EMOJI & TEXT CLASSES */
.star {
  font-size: 1.3rem;
  background-image: url("/images/cloudy.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.heart {
  font-size: 1rem;
  color: #100113;
  padding: 0px 0px 0px 39px;
}

/* BLOBS ILLUSTRATION TRANSFORM */
img.illustration {
  transition: all 2s;
}

img.illustration:hover {
  transform: rotate(80deg);
  transition: all 2s;
}

/* SEE MORE ARROW ILLUSTRATION ANIMATION */
img.morearrow {
  transition: all 2s;
}

img.morearrow:hover{
   transform: translateX(30px);
  transition: all 2s;
}

/* MOLLY T SPECIAL FONT PORTFOLIO DETAIL PAGE */
h6.mollyt{
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0.8rem;
  font-family: 'Londrina Outline', cursive;
  background-image: url("/images/lightglitter.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* TEMPLATES CSS */
.banner-template1, .banner-with-header-template3 {
  background-image: url('../images/light-floral3.jpg');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  background-repeat: no-repeat;
}

.bg-image-template {
  background-image: url('../images/light-floral4.jpg');
  background-size: cover;
  background-position: center;
  min-height: 25rem;
  background-repeat: no-repeat;
}

/* This media query kicks into action at the gridlex sm breakpoint */
  @media(max-width:768px) {
    h4.landing {
    font-size: 1rem;
    color: #fdc28e;
    font-family: 'Fredoka One', cursive;}

    h2.landing {
    font-size: 3rem;
    color: #100113; font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-weight: 400;}

    .container {
      min-height: 60vh;
    }

  /* This media query kicks into action at the gridlex xs breakpoint */
  @media(max-width:576px) {
      h6.mollyt{
        font-size: 4.5rem;
        letter-spacing: 1rem;
      }
    }
