
.bg-landing {
  background-image: url('../images/pinkmoon.gif');
  background-position: center;
  min-height: 85vh;
  background-size: cover;
}

.pms {
  margin-top: 15rem;
}

h4.landing {
  font-size: 1.3rem;
  color: #fdc28e;
  font-family: 'Fredoka One', cursive;}

h2.landing {
  font-size: 4rem;
  color: #100113; font-family: 'Modak', cursive;
  text-transform: uppercase;
  font-weight: 400;}

.title {
  position:relative;
  bottom:-10px;
}

.container {
  position: relative;
  max-width: 100%; /* Maximum width */
  min-height: 80vh;
  margin: 0 auto; /* Center it */
}

.content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color:#100113;
  width: 100%; /* Full width */
}

.star {
  font-size: 1.3rem;
  background-image: url("/images/pastel.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.heart {
  font-size: 1rem;
  color: #100113;
  padding: 0px 0px 0px 37px;
}

/* ARROW BUTTON - OUR WORK NAV */
.arrow-button {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: .5rem;
  padding: .94em;
  background-color: #fadede;
  display: inline-block;
  position: relative;
  color: #100113;
}

.arrow-button:after {
  border: 13px solid transparent;
  content: ' ';
  height:0;
  width:0;
  position: absolute;
  top: 0;
  left: 100%;
  border-left-color: #fadede;
}

.arrow-button:before {
  border: 12.8px solid #fadede;
  content: ' ';
  height:0;
  width:0;
  position: absolute;
  top: 0;
  left: -25px;
  border-left-color: transparent;
  z-index: -99999;
}

.arrow-button:hover {
  background-color: #a6c8eb;
}

.arrow-button:hover:before {
  border:13px solid #a6c8eb;
  border-left-color: transparent;
}

.arrow-button:hover:after {
  border:12.8px solid transparent;
  border-left-color: #a6c8eb;
}

/* ILLUSTRATION TRANSFORM */
img.illustration {
  transition: all 2s;
}

img.illustration:hover {
  transform: rotate(80deg);
  transition: all 2s;
}


/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:768px) {
  h4.landing {
    font-size: 1rem;
    color: #fdc28e;
    font-family: 'Fredoka One', cursive;}

  h2.landing {
    font-size: 3rem;
    color: #100113; font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-weight: 400;}

    .container {
      min-height: 50vh;
    }

    .xs-mob-hide {
      display: none;
    }
